* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(site.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    z-index: 99;
}

.logo {
    font-size: 2.2em;
    color: #fff;
    user-select: none;
    margin-top: 0.5%;
    margin-left: -5%;
    width: 15%;
    margin-right: 10%;

}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    margin-left: 35px;
    font-weight: 500; /* adding boldness to font  */

}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.navigation .login-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 32px;
    transition: 0.5s;
}

.navigation .login-popup:hover {
    background: #fff;
    color: #162938;
}

div.loginpage {
    width: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 5%;
    font-size: medium;
    font-weight: 500;
    border: 2px solid #fff;
    margin-left: 20%;
    margin-right: 20%;
    color: #fff;
    border-width: 4px;
    font-size:large;
}
